/* Định dạng cho trang HomePage */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.hero-section {
  position: relative;
  text-align: center;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.9;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

#button-home {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.button.is-primary {
  background-color: #3498db;
  color: white;
  border: none;
}

.button.is-secondary {
  background-color: #2ecc71;
  color: white;
  border: none;
}
