/* Định dạng cho trang HomePage */
.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .hero-section {
    position: relative;
    width: 100vw; /* Chiều rộng full viewport */
    height: 80vh; /* Chiều cao tùy chỉnh theo yêu cầu */
    overflow: hidden; /* Đảm bảo ảnh không vượt ra ngoài khung */
  }
  
  .hero-image {
    width: 100%; /* Chiều rộng full */
    height: 100%; /* Chiều cao full */
    object-fit: cover; /* Đảm bảo ảnh giữ đúng tỷ lệ và bao phủ toàn bộ */
    border-radius: 0; /* Đặt thành 0 để không có góc tròn */
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  #button-home {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  
  .button.is-primary {
    background-color: #3498db;
    color: white;
    border: none;
  }
  
  .button.is-secondary {
    background-color: #2ecc71;
    color: white;
    border: none;
  }
  